/* Adii css  */

@import "tailwindcss";

* {
    padding: 0%;
    margin: 0%;


}

.btn2 {
    padding: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F05624;
    color: black;
    background-color: green;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
}

.text-heading {
    width: 23%;
}

.decrement {

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 5%;
    position: absolute;
    z-index: 999;
    color: white;

}

.decrement svg {
    color: white;
    font-size: 2rem;
    font-weight: 900;
}

.increment {
    position: absolute;
    display: flex;

    z-index: 9;
    right: 5%;
    align-items: center;
    justify-content: center;

    height: 100%;
    color: white;

}

.increment svg {
    color: white;
    font-size: 2rem;
}

.path-page {
    padding: 2%;

}

.path-heading {
    font-size: 1.8rem;
    margin-top: 2%;
    font-weight: 900;
}

.path-page ul {
    display: flex;
    align-items: center;

}

.path-page ul li {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.liquid {
    background: linear-gradient(#F05624 0 0) no-repeat calc(200% - var(--p, 0%)) 100% / 200% var(--p, 0.2em);
    transition: 0.3s var(--t, 0s),
        background-position 0.3s calc(0.3s - var(--t, 0s));
}

.liquid:hover {
    --p: 100%;
    --t: 0.3s;
    color: #fff;
}

.product-Categories-inside-category-folder:hover .filter-product-image img {
    transform: scale(1.1);
    transition: transform 0.5s ease;

}

/* global-css */

h1,
h2,
h3,
h4,
h5 {
    color: #2B2A35;
}

button:hover {
    cursor: pointer;
}

.brand-name-p p {
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 0.5px;

}

.model-name p {

    font-size: 13px;
    font-weight: 600;
    color: #535766;


}

.search-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    right: 0px;
    bottom: 0px;

    background-color: white;
    border: 1.5px solid red;

}


.search-icon img {

    height: 100%;
}

.width-80-for-line {
    width: 96%;
    margin: auto;
}

.moving-image-animation {
    position: fixed;
    top: 70%;
    right: -1%;
    width: 150px;
    height: 200px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
}

.image-brands img {
    width: 50%;
}

.select-none {
    width: 100%;
}

.moving-image-animation img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}

.wrape-copmanies-logo {
    width: 100%;
    gap: 40px;
}

.wrape-copmanies-logo img {

    border-radius: 5px;
    padding: 10px;
    height: 50px;
    width: 200px;
    object-fit: cover;
}

.moving-image-animation img:hover {
    cursor: pointer;
}


/* Hover button css on our trainding products  */
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.blob-btn {
    z-index: 1;
    position: relative;
    padding: 20px 46px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #0505A9;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.5s;
    cursor: pointer;
    border-radius: 30px;
}

/* search history css for desktop  */
.search-history {
    z-index: 1000;
    position: absolute;
    background-color: white;
    width: 40%;
    left: 30%;
    border-radius: 10px;
    padding: 1%;
    top: 70%;
    margin-top: 4px;
    font-size: 14px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.search-history ul {
    list-style: none;
}

.search-history li {
    cursor: pointer;
    font-size: 1rem;
    padding: 2px;
    font-weight: 800;
}

.search-history li:hover {
    background-color: #E0E0E0;
    font-size: 1.2rem;
}

.blob-btn:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid red;
    border-radius: 30px;
}

.blob-btn:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: 3px;
    top: 3px;
    width: 100%;
    height: 100%;
    transition: all 0.3s 0.2s;
    border-radius: 30px;
}

.blob-btn:hover {
    color: #FFFFFF;
    border-radius: 30px;
}

.blob-btn:hover:after {
    transition: all 0.3s;
    left: 0;
    top: 0;
    border-radius: 30px;
}

.blob-btn__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: #ffffff;
}

.blob-btn__blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url('#goo');
}

.blob-btn__blob {
    position: absolute;
    top: 2px;
    width: 25%;
    height: 100%;
    background: #F05624;
    border-radius: 100%;
    transform: translate3d(0, 150%, 0) scale(1.7);
    transition: transform 0.45s;
}

@supports (filter: url('#goo')) {
    .blob-btn__blob {
        transform: translate3d(0, 150%, 0) scale(1.4);
    }
}

.blob-btn__blob:nth-child(1) {
    left: 0%;
    transition-delay: 0s;
}

.blob-btn__blob:nth-child(2) {
    left: 30%;
    transition-delay: 0.08s;
}

.blob-btn__blob:nth-child(3) {
    left: 60%;
    transition-delay: 0.16s;
}

.blob-btn__blob:nth-child(4) {
    left: 90%;
    transition-delay: 0.24s;
}

.blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.7);
}

@supports (filter: url('#goo')) {
    .blob-btn:hover .blob-btn__blob {
        transform: translateZ(0) scale(1.4);
    }
}

/* Hover button css on our trainding products  */


/* global css ends  */

/* path css  */

.path {

    font-size: 15px;
    font-weight: 600;

}

.padding {
    padding: 2%;
}

p {
    font-family: "Abel", sans-serif;
}

button {
    font-weight: 600;
    font-size: 12px;
}

ul li {
    font-family: "Abel", sans-serif;

}

.main-sectionHeading {
    text-align: center;


}

.main-sectionHeading h1 {
    font-weight: 900;
    font-size: 1.5rem;
}



/*---------------------------------------------------------------------------Nav bar css start---------------------------------------------------------------------  */



.wrapper-class-main-nav-bar {
    top: 0px;
    background-color: white;
    width: 100%;
    padding-left: 1.2%;
    padding-right: 1.2%;
    padding-top: 1%;
    padding-bottom: 1%;
    z-index: 999;
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.main-logo {

    width: 15%;
}

.main-logo .main-logo-img {
    width: 100%;
    height: 50px;
    object-fit: cover;
}

.search-bar {
    position: relative;
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;

    gap: 10px;

}

.search-bar-main {
    border: 1.5px solid red;
    width: 100%;
    padding: 8px;

}

.search-bar-main:focus {
    outline: none;
    border-color: red;
}

.search-bar input {
    font-size: 14px;
}

.secrch-icon {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secrch-icon i svg {
    font-weight: 900;
    font-size: 1.6rem;

}

.top-right-side-section {
    width: 15%;
    display: flex;
    gap: 15px;
}

.top-right-side-section .main-profile-section {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    list-style: none;

}

.main-profile-section li {
    position: relative;

}

.main-profile-section p {
    background-color: #F05624;

    color: white;
    top: -50%;
    right: -10%;
    padding: 2px;
    height: 20px;
    width: 20px;

    border-radius: 100%;
    font-size: .6rem;
    position: absolute;
}

.top-right-side-section .main-profile-section svg {
    display: flex;
    color: #221F20;
    border-radius: 100%;
    font-size: 2rem;
    padding: 5px;
    background-color: #F05624;
    color: white;
}

.top-right-side-section .hamburger-icon {
    list-style: none;
    display: flex;
    align-items: center;
}

.top-right-side-section .hamburger-icon svg {
    display: flex;
    color: #221F20;
    border-radius: 100%;
    font-size: 2rem;
    padding: 5px;
    color: white;
}

.items-listing-catogeryes {
    border: 1px solid black;
    padding: 2%;

}

.main-profile-section li svg {
    transition: transform 0.6s ease, background-color 0.6s ease, color 0.6s ease;

}

.main-profile-section li svg:hover {
    transform: scale(1.3);
    background-color: white;
    color: #F05624;

}



.login_and_social_media{
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    
    width: 100%;
    padding: 2%;    
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-button{

    width: 20%;
}

.login-button-side-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    padding: 2%;
    gap: 5px;
    font-size: 0.8rem;
    width: 100%
}

.login-button-side-nav:hover{
    background-color: #F05624;
    color: white;
    border: none;
}

.on-side-nev ul li svg{

    font-size: 1.4rem !important;

}



/* .main-profile-section  li img{
    width: 50%;
} */


/*---------------------------------------------------------------------------hamburger css starts-------------------------------------------------------------------------------------------------*/

/* ================= OVERLAY ================= */

.main-class-nav-bar {
    background-color: rgba(190, 182, 182, 0.5);
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.main-class-nav-bar.show {
    opacity: 1;
    pointer-events: auto;
}

/* ================= MOBILE NAVBAR ================= */

.mobile-navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    background-color: white;

    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.mobile-navbar.open {
    transform: translateX(0);
}

/* ================= PROFILE ================= */

.profile-view-button {
    border: 2px solid black;
}

.profile-view-button img {
    width: 100%;
}

/* ================= HAMBURGER TOP ================= */

.hamburger-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.profile-icon-on-side-nav svg{
    font-size: 2rem;
    font-weight: 500;
}
.user-profile{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.hamburger-logo {
    width: 33%;
}

.hamburger-logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.signup-login-buttons {
    color: white;
    border-radius: 5px;
    width: 10%;
    gap: 10px;
    justify-content: space-between;
    font-size: 12px;
}

/* ================= BUTTONS ================= */

.hamburger-btn {
    padding: 5px;
    width: 100%;
}

.login-button-hamburger button {
    padding: 5px;
    width: 100%;
}

/* ================= CLOSE ICON ================= */

.cross-icon {
    padding: 5px;
    display: flex;
}

.cross-icon svg {
    font-size: 30px;
    font-weight: 800;
}

/* ================= LISTING ================= */

.listng-items-for-products {
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-listing-items-categories h1 {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.main-listing-items-categories ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2%;
}

.main-listing-items-categories ul li {
    border-bottom: 1px dotted black;
    color: rgb(54, 52, 52);
    font-size: 1rem;
    font-weight: 600;
}

/* ================= MORE SECTION ================= */

.more-buttons h1 {
    font-weight: 600;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.page-lists ul {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.page-lists ul li {
    color: rgb(54, 52, 52);
    font-size: 14px;
    width: 20%;
    transition: all 0.4s ease-in-out;
}

.page-lists ul li:hover {
    font-weight: 600;
    cursor: pointer;
    background-color: #F05624;
    color: white;
    width: 100%;
    padding: 1%;


}

/* ================= PROFILE ICON ================= */

.profile-logo-in-list {
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-logo-in-list img {
    height: 30px;
    border-radius: 100%;
}

.profile-logo-in-list img:hover {
    cursor: pointer;
}

/* ================= CATEGORY ================= */

.sign-up-button-hamburger {
    width: 100%;
}

.catogries-nam p {
    font-size: 14px;
    margin-top: 5px;
    transition: all 0.4s ease-in-out;
    width: 100%;
}

.catogries-nam p:hover {
    cursor: pointer;
    width: 100%;
    padding: 1%;
    background-color: #F05624;
    color: white;
    font-weight: 600;
}


/*---------------------------------------------------------------------------Hamburger css ends----------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------Nav bar css ends------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------main poster section----------------------------------------------------------------------*/
/* Container styling */
.slider-container {
    position: relative;
    overflow: hidden;
    display: flex;

    margin: auto;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-image {

    width: 100%;

    flex-shrink: 0;
    object-fit: cover;
}



.dots-container {

    text-align: center;
    margin-top: 10px;
}

.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #F05624;
}



/*---------------------------------------------------------------------------main poster ends-------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------Catogryes section start-----------------------------------------------------------------*/

.Categories {

    padding: 0% 2%;
}

.Categories h1 {
    text-align: center;
}

.main-display-seaction {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.catogries-images {

    margin-top: 5%;


}

.new-animations-logo {

    top: 5px;
    left: 0px;
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 6;

}

.overlay-products {
    top: 0px;
    left: 0px;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: rgba(49, 47, 47, 0.15);
    /* Light shine */
    backdrop-filter: blur(0px) saturate(150%);
    /* Glass + clarity */

    position: absolute;
}

.catogries-images img {

    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.catogries-images:hover img {
    transform: scale(1.04);
}

.catogries-name p {
    text-align: center;
    margin-top: 5%;
    font-size: 16px;
    font-weight: 600;
}

/*------------------------------------------------------------------------------Catogryes Section ends-----------------------------------------------------------------*/


/*------------------------------------------------------------------------------ Top 10 products css start------------------------------------------------------------- */

.margin-and-padding-main {
    margin-top: 2.5%;
}

.top-products-main-content {
    padding: 0% 2% 0% 2%;


    position: relative;
    justify-content: space-between;
}

.topTenItems-images {
    border: 2px solid re;
    display: flex;
    gap: 20px;
    transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
    will-change: transform;
}

.main-image-with-number {
    border-radius: 10px;
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center;
    height: 300px;


}

.tranding-products-of-us {
    z-index: 10;
    position: relative;
    align-items: center;
    transition: transform 0.3s ease;
}

.tranding-products-of-us:hover {
    transform: scale(1.03);
    cursor: pointer;
}


.topTenItems-images img {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    transition: opacity 0.8s ease;
}

.number p {
    font-size: 5rem;
    font-weight: 900;
    position: absolute;
    top: 68%;
    left: -10%;
    color: #F05624;
    z-index: 1;

    transform: translate(1%, 0%);
    font-family: "Monoton", sans-serif;
    font-weight: 100;

    font-style: normal;

}

.priviousimage {
    position: absolute;
    top: 45%;
    left: 5%;

}

.nextImage {
    position: absolute;
    right: 5%;
    top: 45%;

}

.priviousimage button {
    position: absolute;
    border: 1px solid #F67E36;
    background-color: #F67E36;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 100%;
    z-index: 11;

    display: flex;
    align-items: center;
}

.nextImage button {
    position: absolute;
    border: 1px solid #F67E36;
    background-color: #F67E36;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 100%;
    z-index: 11;
    right: 2%;
    top: 45%;
    display: flex;
    align-items: center;
}


/*------------------------------------------------------------------------------- Top 10 Products end -------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------Tranding Products Starts---------------------------------------------------------------------*/

.rating-and-discount {

    position: absolute;
    margin: auto;
    padding: 2%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    top: 3%;
    left: 3%;
}

.margin-top-for-inside-continers {
    margin-top: 2%;
}

.rating {
    z-index: 30;
    background-color: #F05624;
    border-radius: 2px;
    color: white;
    width: 30%;



}

.rating ul {


    display: flex;
    flex-direction: column;
    padding: 2px;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: .8rem;


}

.rating ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.rating ul span {
    display: flex;
}

.rating ul span svg {
    fill: white;

    font-size: .8rem;

}

.discount ul {
    list-style: none;
}

.discount {
    z-index: 30;
    background-color: #F05624;
    border-radius: 2px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0px;
    font-size: .8rem;

}


.items-buttons-for-chaging-the-screen {

    width: 98%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    /* relative for absolute child positioning */
}

.items-buttons-for-chaging-the-screen button {

    background: white;
    border: 1px solid white;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    justify-content: center;

    outline: none;
    cursor: pointer;
    color: gray;
    display: flex;
    margin: 2px;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    width: 50%;


}

.product-name-model-name-price {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.product-name-model-name-price:hover {
    transform: scale(1.1);
}

.dotted-border {
    border-bottom: 1px dotted black;
}

.model-descripction p {
    font-size: 13px;
    font-weight: 800;
    color: #333;
}

.black-border {
    padding: 5px;
    background-color: #221F20;
    color: white;
    margin-bottom: 25px;
}

.trending-products-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.trending-products-images-main-inside {
    display: flex;
    gap: 10px;
}

.trending-products-images-main-inside img {
    width: 100%;
    object-fit: cover;
}




/*---------------------------------------------------------------------------------Tranding Products Ends-----------------------------------------------------------------*/


/*---------------------------------------------------------------------------------our communinty sections css start------------------------------------------------------ */
.overlay-products-top-ten {
    border: 1px solid red;
    position: absolute;
    background: rgba(49, 47, 47, 0.15);
    backdrop-filter: blur(0px) saturate(150%);
    height: 250px;
    top: 0px;
    width: 250px;
}

.our-community-rells-section {
    padding: 2%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.our-community-reels-and-content {
    display: flex;
    overflow: hidden;
    position: relative;
}

.loading-para {
    border: 1px solid red;


}

.loading-product-filter {
    top: 20%;
    position: absolute;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.loading-product-filter img {
    height: 20%;
    width: 20%;
}

.main-loading-filter {
    border: 2px solid red;
}

.our-community-rells-section {
    overflow: hidden;
}

.main-rells-sections {
    overflow: hidden;
}

.main-rells-sections video {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;

}

.main-image-with-video {
    border-radius: 10px;
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.privious-video {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 5%;
}

.next-video {
    position: absolute;
    z-index: 100;
    top: 50%;
    right: 5%;
    /* border: 1px solid red; */
}

.privious-video button {
    position: absolute;
    border: 1px solid #F67E36;
    background-color: #F67E36;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 100%;
    z-index: 11;
    left: 5%;
    top: 45%;
    display: flex;
    align-items: center;
}

.select-none {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.next-video button {
    position: absolute;
    border: 1px solid #F67E36;
    background-color: #F67E36;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 100%;
    z-index: 11;
    right: 5%;
    top: 45%;
    display: flex;
    align-items: center;
}

.clear-filer-section {
    margin: 2%;
}

.clear-filer-section {
    border: 1px solid red;
    width: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

}

.clear-filer-section button {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}


/* tailwinds css */






/*----------------------------------------------------------------------------------our community section css ends----------------------------------------------------------*/

/*------------------------------------------------------------------------------------Footer section------------------------------------------------------------------------- */

.wrapper-footer {
    margin-top: 3%;

    background-color: #26282D;
}

.logo-main-footer {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 2%;
}

.logo-main-footer img {
    width: 20%;
}

.main-footer-class {
    color: white;
    display: flex;
    padding: 0% 2% 2% 2%;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.footer-left {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo img {
    width: 80%;
}

.footer-heading {
    color: white !important;
    font-size: 1rem;
    font-weight: 800;
}

.social-media-links ul {
    display: flex;
    gap: 15px;
    margin: auto;
}

.social-media-links ul li {
    background-color: #F05624;
    padding: 5px;
    border-radius: 100%;
}

.social-media-links ul li svg {
    fill: white;
    font-size: 1.6rem;
}

.footer-mid {
    width: 50%;
    display: flex;
    justify-content: space-between;
}



.footer-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 35%;
}

.social-media-links p {
    padding-bottom: 5%;
}

.footer-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}



.para-content {}

.right-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input-feilds input {
    width: 100%;
}

.copy-right {
    align-items: center;
    justify-content: center;
    padding: 1%;
    font-weight: 600;
    color: #221F20;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.input-feilds {
    background-color: #bbb;
    position: relative;
}

.input-feild-content {
    border: 2px solid white;
    display: flex;
    align-items: center;
}

.icon {
    border: 1px solid red;
    position: absolute;
}

.sign-up-button {}

.signUp {
    border: 1px solid #F05624;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 5px;
    background-color: #F05624;
}



/* product categoryes css  */

.main-category-products {

    position: relative;

    padding: 0% 1%;
    display: grid;
    position: relative;
    gap: 10px;
    display: flex;

}

.filter-with-products {
    border: 1px solid black;
    padding: 1%;
    width: 20%;
}

.filter-by-product-price-and-a-z {
    border: 1px solid red;
}





.products-cato {
    position: relative;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.main-category-products:hover .overlay-view-details {
    display: block;
}

.product-Categories-inside-category-folder {

    padding: 1%;
    height: 410px;
    display: flex;

    flex-direction: column;
    gap: 5px;

}

.btn2 {
    background-color: white !important;
}

.filter-product-image:hover .overlay-buttons {
    display: block;
}

.overlay-buttons {
    display: none;
    position: relative;
    height: 300px;

}

.wishlist-overlay {
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 9999;
    background: #C3C3C3;
    padding: 2%;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;



}


.wishlist-overlay svg {
    font-size: 1rem;
    color: white;


}

.wishlist-overlay svg:hover {



    fill: #F05624;


}

.overlay-view-details {
    display: none;
    position: absolute;
    bottom: 5px;
    width: 100%;
    background-color: white;
}

.filter-product-para-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.terms-and-conditions {}

.terms-and-conditions:hover {
    cursor: pointer;
}

.hide-without-hover {
    display: none;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    z-index: 999;
    width: 80%;

    left: 1%;
    top: 7%;
    padding: 1%;
    background-color: white;
}

.hide-without-hover:hover {
    display: block;
}

.terms-and-conditions p {
    color: #F05624;
    font-weight: 900;
}

.terms-and-conditions p:hover {
    color: red;
}

.terms-and-conditions span {
    color: #F05624;
}

.terms-and-conditions:hover .hide-without-hover {
    display: block;
}

.hover-list-hover {
    text-align: justify;
    display: flex;
    flex-direction: column;

}

.hover-list-hover li {
    font-size: 1rem;
}

.terms-and-conditions strong {
    color: #F05624;
}

.filter-product-image {

    padding: 1%;
    height: 300px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.filter-product-image img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    object-fit: contain;

    transition: transform 0.5s ease-in-out;
}

.image-products-main {
    border: 2px solid red;

}

.filter-product-image {
    position: relative;
    width: 100%;

}


.filter-product-image .img {
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    /* Smooth Fade */
}

.img-two {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    /* hidden image_02 */
}

.filter-product-image:hover .img-two {
    opacity: 1;
    /* Fade in */
}

.filter-product-image:hover .img-one {
    opacity: 0;
    /* Fade out image_01 */
}



/*------------------------------------------------------------------------ cart page button---------------------------------------*/

.button-oh-mobile-at-cart {

    background-color: white;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    padding: 1% 5%;
    opacity: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px -5px 20px rgba(33, 31, 31, 0.15);
}





.red-500 {
    color: black;
}

.prize-text {
    font-size: 13px;
    font-weight: 600;

}

.cart-total p {

    display: flex;
    align-items: center;
    justify-content: center;
}

.blue {
    color: blue;
    font-size: 12px;
    font-size: 11px;
}




/* tursted by brands section css */

/* Ensure the inner track is animating with a translateX or similar marquee effect.
   If you already have a keyframes-based ticker, we pause on hover of the marquee wrapper. */
.marquee-inner {
    display: flex;
    align-items: center;
    white-space: nowrap;

    animation: marquee 20s linear infinite;
    will-change: transform;
    -webkit-font-smoothing: antialiased;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* Pause on hover of the marquee area (wrapper). */
.overflow-hidden .marquee-inner:hover,
.overflow-hidden .marquee-inner:focus {
    animation-play-state: paused;
    transform: translateX(0);
    cursor: pointer;
}



/*----------------------------------------------------------------------------------------------RESPONSIVE CSS STARTS HERE ----------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------------------Navbar css starts--------------------------------------------------------------------------------------------------------------*/
/* mobile breakpoint */

@media screen and (min-width: 650px) and (max-width: 900px) {
    .main-logo {
        width: 23%;
    }

   

    .top-right-side-section {
        width: 20%;
    }

    .main-heading-recom {
        font-size: 1rem !important;
    }

    .main-display-seaction {
        grid-template-columns: repeat(3, 1fr);
    }

    .main-image-with-number {
        height: 100%;
    }

    .number p {
        top: 38%;
    }

    .hide-from-mobile {
        display: none;
    }



}

@media screen and (max-width: 600px) {
    .login-button{
        width: 30%;
    }
    .user-profile {
        height: 35px;
        width: 35px;

    }
    .on-side-nev{

        gap: 2px;
    }
    .on-side-nev ul{
        gap: 5px;
        
    }

    .on-side-nev ul li svg{
        
        font-size:1rem !important;
    }


    .cross-section-categoryes{
        
        display:flex;
        align-items: center;
        justify-content: center;

    }
     .cross-section-categoryes svg{
        font-size: 2rem;
     }

    .hamburger-logo {
        width: 50%;
    }

    .logo-main-footer img {
        width: 50%;
    }


    .button-oh-mobile-at-cart {
        opacity: 1;
    }

    button {
        font-size: 10px;
        color: black;
    }

    .btn {
        padding: 5px !important;
        font-size: 14px !important;
        color: white !important;
    }

    .main-heading-recom {
        font-size: 14px !important;
    }

    .mobile-navbar {
        width: 90%;
        height: 100vh;
    }

    .main-listing-items-categories ul {
        gap: 5px;
        margin-top: 5px;
    }

    .main-listing-items-categories ul li {
        font-size: 1rem;
    }


    .content-add-to-cart h1 {
        font-size: 15px !important;
    }

    .content-add-to-cart p {
        font-size: 13px;
    }

    .page-lists ul {
        margin-top: 5px;
    }

    .page-lists ul li {
        font-size: 14px;
    }

    .hamburger-btn {
        font-size: 11px;
    }

    .page-lists ul {
        gap: 1px;
    }

    .wrapper-class-main-nav-bar {
        border: 2px solid white;
    }

    .main-logo {
        width: 40%;
    }

    .search-bar {
        display: none;
    }

    .top-right-side-section {
        width: 34.5%;
    }

    .top-right-side-section .main-profile-section svg {
        font-size: 1.8rem;
    }

    .main-sectionHeading h1 {
        font-size: 1.4rem;
    }

    .main-display-seaction {
        grid-template-columns: repeat(2, 1fr);
        gap: 3px;
    }

    .topTenItems-images {
        border: 2px solid red;
        height: 100% !important;
    }

    .items-buttons-for-chaging-the-screen {
        width: 97%;
    }

    .hide-from-mobile {
        display: none;
    }

    .product-deatils-main-section {
        flex-direction: column;
    }

    .left-section-our-products-section {
        width: 100%;
    }

    .main-images-products img {
        width: 50%;
    }

    .mid-image {
        height: 85px;
    }

    .right-product-section {
        width: 100%;
    }

    .trending-products-images {
        grid-template-columns: repeat(2, 1fr);
        gap: 3px;
    }

    .main-relative-wrapper {
        border: 1px solid red;
        height: 80px;
    }

    .items-buttons-for-chaging-the-screen {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .items-buttons-for-chaging-the-screen button {
        
        width: 98%;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0px;
        font-weight: 500;
        font-size: 12px;

    }

    .main-profile-section p {
        height: 16px;
        width: 16px;
        top: -37%;
    }

    .main-logo .main-logo-img {
        height: 40px;
    }

    .rating ul {
        padding: 0px;
    }

    .discount {
        font-size: 11px;
        width: 50%;

    }

    .rating ul span svg {
        font-size: 11px;

    }

    .model-name p {

        font-size: 11px;

    }

    .model-descripction p {
        font-size: 14px;
    }

    .main-footer-class {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-left {
        width: 100%;
    }

    .social-media-links ul {
        justify-content: center;
        align-items: center;
    }

    .main-footer-class {
        width: 100%;
    }

    .footer-mid {
        width: 100%;

        padding: 1%;
    }

    .footer-heading {
        font-size: 12px;
        font-weight: 700;
    }

    .catogries-nam p {
        font-size: 13px;
        margin: 2px;
    }

    .footer-pages-links li {
        font-size: 13px;
        margin: 2px;

    }

    .con-footer li {
        font-size: 13px;
        margin: 2px;
    }

    .footer-right {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin-top: 5%;
    }

    .right-content {
        display: none;
        align-items: center;
        padding: 1%;
    }

    .para-content-para {
        width: 60%;
        font-size: 13px;
    }

    .para-content {
        text-align: justify;
        font-size: 10px;

    }

    .main-copy-right-class {
        font-size: 13px;
    }

    .social-media-links {
        text-align: center;
    }

    .social-media-links ul li svg {
        font-size: 1.5rem;
    }

    .social-media-links p {
        font-size: 13px;
    }

    .signUp {
        color: white;
        width: 100%;
        font-size: 11px;
        padding: 5px;

    }

    .moving-image-animation {
        height: 120px;
    }

    /*-------------------------------------------------------------------------------------cart page---------------------------------------------------------------------------*/

    .main-wrapper-cart-items {
        flex-direction: column;
    }

    .right-side-section {
        width: 100% !important;
    }





    .product-details-with-heading-price {
        flex-direction: column;

    }

    .product-details {
        width: 100% !important;
    }

    .remove-itme button svg {
        font-size: 1.4rem;
    }

    .buttons-cart-page {
        flex-direction: column-reverse;
        gap: 3px;
    }

    .cart-btn {
        width: 100% !important;
    }

    .remove-itme {
        width: 100% !important;
    }

    .cart-btn button {
        font-size: 12px;
    }

    .remove-itme button svg {
        padding: 0px;
        font-size: 1.4rem !important;
    }

    .product-heading p {
        font-size: 13px;

    }

    .product-model-number p {
        font-size: 11px;
    }

    .product-price p {
        font-size: 12px;
        font-weight: 600;
        gap: 1px !important;
    }

    .main-quantity p {
        font-size: 14px;
    }

    .decrement-button button {
        font-size: 14px !important;
    }

    .increment-button button {
        font-size: 14px !important;
    }

    .billing-deatils-css {
        gap: 5px !important;
    }

    .total-money p {
        font-weight: 600;
        font-size: 14px;
    }

    .right-side-section h1 {
        font-weight: 800;

    }


    .main-category-products {
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        padding: 0% 0.5%;
        gap: 2px;
    }

    .product-Categories-inside-category-folder {
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

    }

    .filter-product-image {
        height: 100%;
    }

    .filter-product-para-text {
        height: 40%;

        gap: 2px;
    }


    .cate p {
        font-size: 11px;
        font-weight: 800;
    }

    .listing-product-category {
       
        border-top-right-radius: 20px !important;
    }

    .text p {
        font-size: .8rem;
    }

    .main-heading-product-categoryes {
        align-items: center;
        padding-bottom: 0%;
    }

    .cate-list-highlight {
        font-size: .8rem;
    }

    .pricing-listing li {
        font-size: .8rem;
    }

    .main-wrapper-cart-patent {
        flex-direction: column;
    }

    .billing-deatils-css {
        padding: 1%;
    }

    .right-side-section h1 {
        font-size: 14px;
    }

    .total-money p {
        font-size: 11px;
    }

    .right-side-section {
        padding: 5px;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }

    .main-cart-section-image {

        gap: 2px !important;
        padding: 1% !important;
    }

    .main-wrapper-cart-items {
        width: 100% !important;
    }

    .cart-btn button {
        padding: 2px;
    }

    .top-class-for-add-to-cart {
        height: 100% !important;
    }

    .dot {
        height: 7px;
        width: 7px;
    }
}

.sign-up-button-hamburger img {
    border-radius: 100%;
}

/*---------------------------------------------------------------------------------------------------less then 340px screen size---------------------------------------------------------*/

@media screen and (max-width: 400px) {
    .items-buttons-for-chaging-the-screen {}



    .top-right-side-section {
        width: 37.5%;
    }

    .main-profile-section p {
        top: -20%;
    }

    .signup-login-buttons {
        width: 10%;
    }

    .path p {
        font-size: 11px;
    }

    .main-listing-items-categories h1 {
        font-size: 18px;
    }

    .black-border {
        font-size: 12px;
    }

    .main-listing-items-categories ul li {
        font-size: 1rem;
    }

    .page-lists ul {
        gap: 5px;
    }

    .page-lists ul li {
        font-size: 1rem;
    }



    .product-deatils-main-section {

        flex-direction: column;
    }

    .left-section-our-products-section {
        width: 100% !important;
    }

    .mid-image {
        height: 70px !important;
    }

    .right-product-section {
        width: 100% !important;

    }

    .main-images-products {
        height: 20rem !important;
    }

    .cart-btn button {
        width: 98% !important;
    }

    .product-name {
        margin-top: 5%;
        font-size: 13px !important;
    }

    .model-number {
        font-size: 13px;
        font-weight: 600;
    }

    .price p {
        font-size: 12px;
    }

    .cart-btn button {
        padding: 0%;
    }


    .cart-discripction p {
        font-size: 11px !important;
        text-align: justify;
    }

    .main-heading-recom {
        font-size: 15px !important;
    }

    .text-heading {
        width: 60%;
    }

    .catogries-name p {
        font-size: 13px;
    }

}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .mobile-navbar{
        height: 100vh;
    }
    .top-right-side-section {
        width: 42%;
    }

    .main-login-section {
        padding: 2%;
    }

    .main-signup-form-form {
        gap: 5px;
    }

    .first-name-signup input {
        width: 90%;
    }

    .last-name-signup input {
        width: 90%;
    }


}