.main-wrapper-for-profile-page{
    padding: 2%;
}

.main-wrapper-profile-page{
    border: 2px solid red;
}

.main-wrapper-for-user-profile{
    display: flex;
    width: 100%;
 
    justify-content: space-between;
}

.main-content-right-side-product-user{
       box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    width: 80%;
    padding: 1%;
    border-radius: 10px;
}

.side-bar-buttons{
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    width: 19%;
    height: 190px;
    border-radius: 10px;
    padding: 1%;
}
.main-profile-page-user-profile ul li:hover{
    cursor: pointer;
    font-weight: 900;
}

.mt-6{
    margin-top: 10px;
}
.width-100{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.products-lists-for-user-profile{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    height: 400px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main-wrapper-for-user-order-products{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;

}




.images-for-products-under-profile img{
   
   height: 200px;
}

.main-pending-class-page{
  

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.pending-users{
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2%;
    width: 100%;
        transition:background-color  0.5s ease;

}
.pending-users:hover {
   
    background-color: gray;
    color: white;
    border: none;
}
.buttons-main-approve{
 
    display: flex;
    gap: 10px;
}
.button-approve{
   
    width: 100%;
}
.red-back{
    background-color: red;
    color: white;
    font-weight: 700;
       transition: transform .5s;
}
.red-back:hover{
     transform: scale(1.1);
}

.back-green{
    background-color: rgb(149, 198, 50);
    color: white;
     transition: transform .5s;
}

.back-green:hover{

    transform: scale(1.1);

}

@media screen and (max-width: 600px){
    .main-wrapper-for-user-profile{
        flex-direction: column;
        gap: 10px;
    }
    .side-bar-buttons {
        width: 100%;
    }
    .main-content-right-side-product-user{
        width: 100%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
    .main-wrapper-for-user-order-products {
        
        display: block;
        height: 100%;
    }

    .images-for-products-under-profile{
        
    

    }
    .images-for-products-under-profile img{
        object-fit: contain;
    }
.products-lists-for-user-profile{
    
    margin-top: 5%;
   height: 100%;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
}
    

}